:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --card-width: 500px;
  ;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
}